﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <div> 
        <h1>Error </h1>
        <p>
            @Html.ActionLink("Go back", "ManagerPage")
        </p>
    </div>
</body>
</html>
