﻿@model Assignment4.Models.loginInRequirment

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        @using (Html.BeginForm())
        {
            <p>Name: @Html.TextBoxFor(m => m.Username, "", new { placeholder = "Please enter your user name" })</p>
            <p>Password: @Html.TextBoxFor(m => m.Password, "", new { placeholder = "Please enter your password" })</p>

            <input type="submit" value="Login" />
        }
    </div>
</body>
</html>
