﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Thank</title>
</head>
<body>
    <div> 
        <h1>Successful!</h1>
        <p>
            @Html.ActionLink("Countine", "UserPage")
        </p>
    </div>
</body>
</html>
